* { font-family: 'Source Code Pro', 'Microsoft Yahei'; line-height: 2; }

h1 { font-size: 2rem; margin: 0; padding: 0; line-height: 1; }

h2 { font-size: 1.5rem; margin: 1rem 0; line-height: 1.2; }

h3 { font-size: 1rem; margin: 0 0 0 1rem; }

h4 { font-size: 1rem; }

h5 { font-size: 1.25rem; font-weight: bold; }

h6 { font-size: 1rem; font-weight: bold; }

.code, code { font-size: 0.8rem; line-height: 1.2; }

span.code { color: #ec3e31; padding-left: 0.5em; padding-right: 0.5em; }

em, .em { font-weight: bold; padding-left: 1em; padding-right: 1em; }

a { color: #0a55ec; text-decoration: underline; text-decoration-style: dotted; }

table th, table td { vertical-align: top; padding-left: 1em; padding-right: 1em; }

table.stripped tr:nth-child(odd) { background-color: #f0f0f0; }

table.def th { font-weight: bold; text-align: left; }

.prototype { margin: 0 0 0 2rem; padding: 0; font-size: 0.8rem; line-height: 1; }

.name { font-size: 1.2em; font-weight: bold; }

.param { color: #ec3e31; word-wrap: none; }

.type { color: #010193; word-wrap: none; }

.funcdesc { margin: 0 0 0 2rem; font-size: 0.8rem; }

.paramtable { margin-left: 2rem; border-collapse: collapse; }
.paramtable th { font-size: 0.8rem; border: solid 1px #eee; }
.paramtable td { font-size: 0.8rem; line-height: 1.4; border: solid 1px #eee; }
